---
import Layout from "../../layouts/Layout.astro";
import { SlackLayout } from "../../components/Layout";
import { useCloud } from "freestyle-sh";
import type { ConversationManagerCS } from "../../cloudstate/chat-manager";

const chatManager = useCloud<typeof ConversationManagerCS>("channels");
const channels = await chatManager.listChannels();
if (
  channels.find((channel) => channel.id === Astro.params.channel) === undefined
) {
  return Astro.redirect("/");
}
---

<Layout title="Freestyle.sh Project">
  <main>
    <SlackLayout
      client:only="react"
      chatRoomId={Astro.params.channel!}
      baseChannels={channels}
    />
  </main>
</Layout>
