---
import Layout from "../../layouts/Layout.astro";
import { configureFreestyle, useCloud } from "freestyle-sh";
import type { ConversationManagerCS } from "../../cloudstate/chat-manager";
import type { AuthCS } from "../../cloudstate/auth";
import { SideBar } from "../../components/Sidebar";
import { Chat } from "../../components/Chat";

configureFreestyle({
  createHeaders: () => Astro.request.headers,
});

const user = await useCloud<typeof AuthCS>("auth")
  .getUserInfo()
  .catch(() => undefined);

if (user === undefined) {
  return Astro.redirect("/signin");
}

const chatManager = useCloud<typeof ConversationManagerCS>("channels");
const channels = await chatManager.listChannels();
const channel = channels.find(
  (channel) => channel.id === Astro.params.channel
)!;
if (
  channels.find((channel) => channel.id === Astro.params.channel) === undefined
) {
  return Astro.redirect("/");
}
---

<Layout title="Freestyle.sh Project">
  <div class="grid grid-cols-[20rem_1fr] h-screen overflow-hidden">
    <SideBar
      client:load
      baseChannels={channels}
      chatRoomId={Astro.params.channel}
    />
    <div class="h-screen">
      <div
        class="w-full h-[48px] border-b bg-white flex flex-col justify-center pl-4"
      >
        <h1 class="text-lg font-bold"># {channel.name}</h1>
      </div>
      <div class="h-[calc(100vh-48px)]">
        <Chat client:load chatRoomId={Astro.params.channel!} />
      </div>
    </div>
  </div>
</Layout>
