---

import { useCloud } from "freestyle-sh";
import { ConversationManagerCS } from "../cloudstate/chat-manager";

const chatManager = useCloud<typeof ConversationManagerCS>("channels");


  
const newChannel = await chatManager.createChannel("new-channel");

return Astro.redirect(`/channels/${newChannel.id}`);


---
<!-- 
<Layout title="Freestyle.sh Project">
  <main>
    <SlackLayout />
  </main>
</Layout> -->
<div>test</div>