---
import Layout from "../layouts/Layout.astro";
import { SideBar } from "../components/Sidebar";
import { useCloud } from "freestyle-sh";
import { ConversationManagerCS } from "../cloudstate/chat-manager";
import { NewChannel } from "../components/NewChannel";

const chatManager = useCloud<typeof ConversationManagerCS>("channels");
const channels = await chatManager.listChannels();
---

<Layout title="New Channel">
  <div class="grid grid-cols-[20rem_auto]">
    <SideBar client:load baseChannels={channels} chatRoomId={undefined} />
    <NewChannel client:load />
  </div>
</Layout>

